<div [ngClass]="{'text-right': message.user === currentUser, 'text-left': message.user !== currentUser}" class="p-2">
  <div [ngClass]="{'bg-blue-100': message.user === currentUser, 'bg-gray-100': message.user !== currentUser}"
       class="inline-block rounded-lg p-2 mb-2">
    <span class="bg-slate-400 block bg-slate-200 text-slate-500"> {{ message.user }} - {{ message.timestamp }} </span>
    <div class="p-2" [ngClass]="{'text-slate-500': message.status === 'draft'}">
      {{ message.text }}
    </div>
    <span *ngIf="message.user === currentUser" class="bg-slate-400 block bg-slate-200 text-slate-500"> {{ message.status }} </span>
  </div>
</div>
